<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        Welcome to your library!
    </title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body class="libNumPage">
    <h1>
        Welcome to your library!
    </h1>
    
    <form class= "libNum" action="/" method="POST">
        <label>
            Enter your Library Number:
            <input type="text" name="libraryNum" class ="libNumText"placeholder="Library number..."/>
        </label>
        <input type="submit" name="Enter" class ="libNumBtn"value="Enter"/> 
    </form>
</body>

</html>