body,::after,::before{
    background-color: rgba(95, 158, 160, 0.493);
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
h1,
h3 {
    text-align: center;
}
a{
    padding-left:50px;
    font-size: large;    
}
.book {
    display: flex;
}

.book-cover {
    margin: 10px;
    max-width: 120px;
    height: auto;
}

.book-details {
    margin: 10px;
}

.libNum {
    padding-top: 100px;
    text-align: center;
    font-size: larger;
}
.admin{
    padding-top: 100px;
        display: flex;
        justify-content: center;
        gap:20px;
        font-size: larger;
}
.postBook{
    display: flex;
    /* Stack fields vertically inside each form */
        flex-direction: column;
        /* Space between input fields */
        align-items: end;
        gap: 10px;        
        padding: 15px;
        min-width: 250px;
        
}
.libNumText {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    margin:5px 15px 5px 15px;
}

.libNumBtn {
    border-radius: 5px;
    width: 60px;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.508);
}
.adminBtn{
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-right:45px;
    background-color: rgba(128, 128, 128, 0.508);
}